body{
    background: linear-gradient(to left top, #daf5b4, #eaeaea , #f4b6e2 );
    color: #2b1e55;
}
.sect2 div{
    background-color: white;
}

.shop{
    width: 100%;
    object-fit: contain;
}

a{
    text-decoration: none;
    color: #2b1e55;
}

a:hover{
    color: white;
}

img{
    max-width: 100%;
    display: block;
}